.header {
    height: 100vh;
    background-image: url('.././assets/images/bg/main.jpg');
    background-size: cover;
}
.caption {
    height: 100vh;
    display: flex;
    color: burlywood;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
} 
.trending {
    height: auto;
    background-image: url('.././assets/images/bg/scifi.jpg');
    background-size: cover;
}
.superhero {
    height: auto;
    background-image: url('.././assets/images/bg/romance.jpg');
    background-size: cover;
}
.imgcard {
    height: 600px;
}


